<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Android_Suite" parallel="none">
    <parameter name="platform" value="ANDROID"/>
    <parameter name="appiumHost" value="127.0.0.1"/>
    <parameter name="appiumPort" value="4723"/>
    <parameter name="deviceName" value="emulator-5554"/>
    <parameter name="platformVersion" value="16.0"/>
    <parameter name="appPackage" value="org.wikipedia.alpha"/>
    <parameter name="appActivity" value="org.wikipedia.main.MainActivity"/>
    <parameter name="automationName" value="UiAutomator2"/>
    <parameter name="app" value="apps/app-debug.apk"/>


    <listeners>
        <listener class-name="com.apust.java_framework.listeners.LogLifecycleListener"/>
        <listener class-name="com.apust.java_framework.listeners.ScreenshotOnFailureListener"/>
        <listener class-name="com.apust.java_framework.listeners.LogAttachmentListener"/>
        <listener class-name="com.apust.java_framework.listeners.PlatformMethodInterceptor"/>
    </listeners>

    <test name="Android Tests">
        <classes>
            <class name="com.apust.java_framework.tests.OnboardingTest"/>
            <class name="com.apust.java_framework.tests.SimpleTest"/>
        </classes>
    </test>
</suite>
